{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Votierungssystem{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/site.css" %}">
    <link rel="stylesheet" type="text/css" media="print" href="{% static "css/print.css" %}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-lg-2 hidden-print">
                <div class="panel-group" id="lecturesAccordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingSemester">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#lecturesAccordion"
                                   href="#collapseSemester"
                                   aria-expanded="false"
                                   aria-controls="collapseSemester">
                                    {% if current_semester %}
                                        {{ current_semester }}
                                    {% else %}
                                        Semester
                                    {% endif %}
                                </a>
                            </h3>
                        </div>
                        <div id="collapseSemester" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingSemester">
                            <ul class="list-group">
                                {% for semester in semesters %}
                                    <a class="list-group-item" href="{% url "change_semester" semester.id%}">
                                        {{ semester }}
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                {% for l in lectures %}
                    <div class="panel panel-info">
                        <div class="panel-heading" role="tab" id="heading{{ l.id }}">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#lecturesAccordion"
                                   href="#collapse{{ l.id }}"
                                   aria-expanded="{% if lecture.id == l.id %}true{% else %}false{% endif %}"
                                   aria-controls="collapse{{ l.id }}">
                                    {{ l.get_short_name }}
                                </a>
                                <a href="{% url "admin:webapp_lecture_change" l.id %}" class="pull-right">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </h3>
                        </div>
                        <div id="collapse{{ l.id }}" class="panel-collapse collapse {% if lecture.id == l.id %}in{% endif %}" role="tabpanel"
                             aria-labelledby="heading{{ l.id }}">
                            <ul class="list-group">
                                {% if l.is_exercise %}
                                    {% for s in l.sheet_set.all %}
                                        <a class="list-group-item" href="{% url "voting_list" s.pk %}">
                                            <span class="glyphicon glyphicon-file"></span>&nbsp;Blatt {{ s.number }}
                                        </a>
                                    {% endfor %}
                                    <a class="list-group-item" href="{% url "sheets" l.id %}">
                                        <span class="glyphicon glyphicon-duplicate"></span>&nbsp;&Uuml;bungsbl&auml;tter
                                    </a>
                                {% endif %}
                                {% if l.is_exam %}
                                    {% for e in l.exam_set.all %}
                                        <a class="list-group-item" href="{% url "exam" e.pk %}">
                                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;Exam {{ e.date }}
                                        </a>
                                    {% endfor %}
                                {% endif %}
                                {% if l.is_exercise or l.is_exam %}
                                    <a class="list-group-item" href="{% url "students" l.id %}">
                                        <span class="glyphicon glyphicon-user"></span>&nbsp;Studenten</a>
                                {% endif %}
                                {% if l.is_exercise %}
                                    <a class="list-group-item" href="{% url "frs_import_start" l.id %}">
                                        <span class="glyphicon glyphicon-import"></span>&nbsp;FRS-Import
                                    </a>
                                {% endif %}
                                {% if l.is_admin %}
                                    <a class="list-group-item" href="{% url "lecture_excel_export" l.id %}">
                                        <span class="glyphicon glyphicon-save-file"></span>&nbsp;Export
                                    </a>
                                    <a class="list-group-item" href="{% url "lecture_rights" l.id %}">
                                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;Zugriffsrechte
                                    </a>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                {% if can_create_lectures %}
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab">
                            <h3 class="panel-title">
                                <a id="create_lecture_link" href="#">
                                    <span class="glyphicon glyphicon-plus"></span> Neue Vorlesung
                                </a>
                            </h3>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
            <div class="col-sm-9 col-lg-10 col-print-12">{% block content %}Content{% endblock %}</div>
        </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static "js/jquery.autocomplete.min.js" %}"></script>
    <script src="{% static "js/jquery.tablesorter.min.js" %}"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="{% static "js/voting.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>