{% extends "base.html" %}

{% block title %}
    {{ exam }}
{% endblock %}

{% block content %}
    <h1 class="hidden-print">{{ exam }}</h1>

    <div class="col-md-6">
        <form class="form-inline" action="{% url "exam" exam.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="numberOfTasks">Anzahl Aufgaben:</label>
                <input type="number" class="form-control" id="numberOfTasks" name="number_of_tasks"
                       value="{{ exam.number_of_tasks }}" min="1">
            </div>
            <button type="submit" class="btn btn-primary">Speichern</button>
        </form>
    </div>

    <table class="table table-striped" id="exam-result-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Vorname</th>
            {% for p in exam.point_list_parsed %}
                <th>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">#{{ forloop.counter }}</span>
                        <input type="text" id="points-task-{{ forloop.counter0 }}"
                               data-task="{{ forloop.counter0 }}" class="form-control tabindex exam-point-input"
                               value="{{ p }}">
                    </div>
                </th>
            {% endfor %}
            <th>Gesamt<br><span id="total-points"></span> Pkt.</th>
            <th>Note</th>
            <th>Abweichung</th>
            <th>Vortiert</th>
            <th>Vorgetragen</th>
        </tr>
        </thead>
        <tbody>
        <form id="exam-points">
        {% for stud_data in student_data %}
            <tr>
                <td>{{ stud_data.student.surname }}</td>
                <td>{{ stud_data.student.given_name }}</td>
                {% for p in stud_data.point_list_parsed %}
                    <th>
                        <div class="input-group input-group-sm">
                            <input type="text" id="points-task-{{ forloop.counter0 }}-student-{{ stud_data.student_id }}"
                                   data-task="{{ forloop.counter0 }}" class="form-control tabindex exam-point-input"
                                   value="{{ p }}" data-student="{{ stud_data.student_id }}">
                        </div>
                    </th>
                {% endfor %}
                <td>
                    <span id="total-points-student-{{ stud_data.student_id }}" class="student-points-total"
                          data-student="{{ stud_data.student_id }}">
                    </span>
                </td>
                <td><span id="mark-student-{{ stud_data.student_id }}">{{ stud_data.mark }}</span></td>
                <td><span id="diff-student-{{ stud_data.student_id }}">{{ stud_data.mark }}</span></td>
                <td>{{ stud_data.voted }}</td>
                <td>{{ stud_data.presented }}</td>
            </tr>
        {% endfor %}
        </form>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Bewertung</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="exam-round">Werte runden auf:</label>
                        <input class="form-control" type="number" min="0" max="1" step="0.25"
                               value="{{ exam.point_round }}" id="exam-round">
                    </div>
                    <div class="form-group">
                        <label for="exam-result-max-points">Maximalpunkte (Bewertung):</label>
                        <div class="input-group">
                            <span class="input-group-addon" style="width: 80%">
                                <input type="range" min="0" max="1" step="{{ exam.point_round }}"
                                   value="{{ exam.rating_max_points }}" id="exam-result-max-points-slider">
                            </span>
                            <input class="form-control" type="number" min="0" max="1" step="{{ exam.point_round }}"
                                   value="{{ exam.rating_max_points }}" id="exam-result-max-points">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exam-result-max-points">Abstufung pro Note:</label>
                        <input type="range" min="0" max="10" step="0.25"
                               value="{{ exam.rating_points_diff_ratio|floatformat:2 }}" id="exam-result-points-diff-slider">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input class="form-control" type="number" min="0" max="10" step="0.25"
                                       value="{{ exam.rating_points_diff_ratio|floatformat:2 }}" id="exam-result-points-diff-ratio">
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input class="form-control" type="number" min="0" max="1" step="{{ exam.point_round }}"
                                       value="{{ exam.rating_points_diff|floatformat:2 }}" id="exam-result-points-diff-abs">
                                <span class="input-group-addon">Pkt.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Note</th>
                        <th>Punkte</th>
                        <th>Anzahl</th>
                    </tr>
                    </thead>
                    <tbody id="rating-table"></tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div id="mark-distribution-div"></div>
            <div id="exam-pass-distribution-div"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="points-abs-div"></div>
        </div>
        <div class="col-md-6">
            <div id="points-rel-div"></div>
        </div>
    </div>

{% endblock %}


{% block javascript %}
    <script>
        window.lecture_id = {{ lecture.id }};
        window.exam_id = {{ exam.id }};
        window.rating_max_points = {{ exam.rating_max_points }};
        window.rating_points_diff = {{ exam.rating_points_diff }};
        window.number_of_tasks = {{ exam.number_of_tasks }};
        window.marks = Object();
        window.student_points = Object();
        window.update_exam_page();
    </script>
{% endblock %}