{% extends "base.html" %}

{% block title %}{{ lecture.get_short_name }} - FRS-Import{% endblock %}

{% block content %}
    <h1>FRS-Student Import</h1>
    <form id="upload" action="#" method="POST" enctype="multipart/form-data">

        <fieldset>
            <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />

            <div>
                <label for="fileselect">CSV-Datei:</label>
                <input type="file" id="fileselect" name="fileselect[]"/>
                <div id="filedrag">or drop file here</div>
            </div>
        </fieldset>

    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="4">FRS-Data</th>
                <th colspan="4">LDAP-Data</th>
            </tr>
            <tr>
                <th>Gruppe</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Email</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Account</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody id="import_list"></tbody>
    </table>
    <div class="row">
        <div class="col-md-8" id="group_assignment"></div>
        <div class="col-md-4">
            <form class="form" method="POST" action="{% url "frs_import_process" %}">
                {% csrf_token %}
                <input type="hidden" name="lecture_id" value="{{ lecture.id }}">
                <input type="hidden" name="data" value="[]" id="import_data">
                <button type="submit" class="btn btn-success btn-xl" id="import_button">
                    <span class="glyphicon glyphicon-import"></span>&nbsp;Import
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        window.groups = {
        {% for group in groups %}
            {{ group.pk }}: "{{ group.desc }}",{% endfor %}
        };
        frs_init_loader();
    </script>
{% endblock %}