{% extends "base.html" %}

{% block title %}
    {{ lecture.get_full_name }} -
    {% if lecture.english %}Sheet{% else %}Blatt{% endif %}
    {{ sheet.number }}
{% endblock %}

{% block content %}
    <h1 class="hidden-print">{{ lecture.get_full_name }}</h1>

    {% with sheet.last_sheet.task_set.all as last_sheet_tasks %}
    {% with sheet.task_set.all as sheet_tasks %}


    {% for group in lecture.group_set.all %}
        <h2>
            <span class="visible-print-inline">{{ lecture.get_short_name }} - </span>
            {{ group.desc }}
        </h2>

        <table class="table tick-list{% if not forloop.last %} break-after{% endif %}">
            <thead>
                <tr>
                    <th colspan="2">&nbsp;</th>
                    {% if last_sheet_tasks %}
                        <th class="text-center" colspan="{{ last_sheet_tasks|length }}">
                            {% if lecture.english %}Sheet{% else %}Blatt{% endif %} {{ sheet.last_sheet.number }}
                        </th>
                    {% endif %}
                    <th class="text-center" colspan="{{ sheet_tasks|length }}">
                        {% if lecture.english %}Sheet{% else %}Blatt{% endif %} {{ sheet.number }}
                    </th>
                    <th colspan="3">&nbsp;</th>
                    <th class="hidden-print disable-click">
                        <label>
                            <input type="checkbox" class="print-comment-switch">
                            <span class="glyphicon glyphicon-print"></span>
                        </label>
                    </th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>{% if lecture.english %}Given Name{% else %}Vorname{% endif %}</th>
                    {% if last_sheet_tasks %}
                        {% for task in last_sheet_tasks %}
                            <th class="text-center">
                                {% if task.optional %}
                                    <em>{{ task.get_label }}</em>
                                {% else %}
                                    {{ task.get_label }}
                                {% endif %}
                            </th>
                        {% endfor %}
                    {% endif %}
                    {% for task in sheet_tasks %}
                        <th class="text-center">
                            {% if task.optional %}
                                <em>{{ task.get_label }}</em>
                            {% else %}
                                {{ task.get_label }}
                            {% endif %}
                        </th>
                    {% endfor %}

                    {% if lecture.english %}
                        <th class="text-center">Ticked&thinsp;/{{ max_tasks }}</th>
                        <th class="text-center">Presented</th>
                        <th class="text-center">Ratio</th>
                        <th class="hidden-print printable-comment">Comment</th>
                    {% else %}
                        <th class="text-center">Votiert&thinsp;/{{ max_tasks }}</th>
                        <th class="text-center">Pr&auml;sentiert</th>
                        <th class="text-center">Anteil</th>
                        <th class="hidden-print printable-comment">Kommentar</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for student in group.students.all %}
                    <tr>
                        <td>{{ student.surname }}</td>
                        <td>{{ student.given_name }}</td>

                        {% if last_sheet_tasks %}
                            {% for task in last_sheet_tasks %}
                                <td class="text-center">
                                    <span class="tick-view" data-student="{{ student.id }}" data-task="{{ task.id }}">
                                    </span>
                                </td>
                            {% endfor %}
                        {% endif %}
                        {% for task in sheet_tasks %}
                            <td class="text-center">
                                <input type="text" class="form-control hidden-print tick-input tabindex"
                                       data-student="{{ student.id }}" data-task="{{ task.id }}"
                                       maxlength="1">
                                <span class="tick-view hidden-print"
                                      data-student="{{ student.id }}" data-task="{{ task.id }}" data-toggle="">
                                </span>
                                <span class="glyphicon glyphicon-unchecked visible-print-inline"></span>
                            </td>
                        {% endfor %}
                        <td class="text-center">
                            <span class="tick-counter" data-field="ticked" data-student="{{ student.id }}"></span>
                            <span class="tick-counter" data-field="ticked_addon" data-student="{{ student.id }}"></span>
                        </td>
                        <td class="text-center">
                            <span class="tick-counter" data-field="presented" data-student="{{ student.id }}"></span>
                        </td>
                        <td class="text-center">
                            <span class="tick-counter" data-field="ratio" data-student="{{ student.id }}"></span>&thinsp;%
                        </td>
                        <td class="hidden-print printable-comment">
                            <input class="form-control hidden-print student-comment student-comment-{{ student.id }}"
                                   data-student="{{ student.id }}">
                            <span class="visible-print-inline student-comment-text-{{ student.id }}"
                                  data-student="{{ student.id }}" ></span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    {% endwith %}
    {% endwith %}
{% endblock %}


{% block javascript %}
    <script>
        window.tasks_done = JSON.parse('{{ tasks_done_json|safe }}');
        window.line_length = {{ sheet.task_set.all.count }};
        window.get_lecture_comments({{ lecture.id }});
        window.lecture_id = {{ lecture.id }};
        window.update_tick_list();
    </script>
{% endblock %}