{% extends "base.html" %}

{% block title %}{{ lecture.get_short_name }} - Studenten{% endblock %}

{% block content %}
    <h1>{{ lecture.get_short_name }} - Zugriffsrechte</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Vorname</th>
                <th>Account</th>
                <th class="text-center">Admin</th>
                <th class="text-center">Übung</th>
                <th class="text-center">Prüfung</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.last_name }}</td>
                    <td>{{ u.first_name }}</td>
                    <td>{{ u.username }}</td>
                    <td class="text-center">
                        {% if u in admin %}
                            <a href="{% url "set_lecture_rights" lecture.id u.id "admin" 0 %}">
                                <span class="glyphicon glyphicon-ok text-success"></span>
                            </a>
                        {% else %}
                            <a href="{% url "set_lecture_rights" lecture.id u.id "admin" 1 %}">
                                <span class="glyphicon glyphicon-minus text-danger"></span>
                            </a>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if u in exercise %}
                            <a href="{% url "set_lecture_rights" lecture.id u.id "exercise" 0 %}">
                                <span class="glyphicon glyphicon-ok text-success"></span>
                            </a>
                        {% else %}
                            <a href="{% url "set_lecture_rights" lecture.id u.id "exercise" 1 %}">
                                <span class="glyphicon glyphicon-minus text-danger"></span>
                            </a>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if u in exam %}
                            <a href="{% url "set_lecture_rights" lecture.id u.id "exam" 0 %}">
                                <span class="glyphicon glyphicon-ok text-success"></span>
                            </a>
                        {% else %}
                            <a href="{% url "set_lecture_rights" lecture.id u.id "exam" 1 %}">
                                <span class="glyphicon glyphicon-minus text-danger"></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}