{% extends "base.html" %}

{% block content %}
    <h1>&Uuml;bungsbl&auml;tter - {{ lecture.get_full_name }}</h1>
    {% for sheet in sheets %}
        <h2>Blatt {{ sheet.number }}
            <small>
                <a href="{% url "admin:webapp_sheet_change" sheet.id %}" class="">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </small>
        </h2>
        <ul>
            {% for task in sheet.task_set.all %}
                <li>Aufgabe:
                    {% if task.number %}{{ task.number }}{% endif %}
                    {% if task.label %}{{ task.label }}{% endif %}
                    {% if task.optional %}[optional]{% endif %}
                    <a href="{% url "admin:webapp_task_change" task.id %}" class="">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    <form class="form" role="form" method="post" action="{% url "create_sheet" %}">
        {% csrf_token %}
        <input type="hidden" name="lecture_id" value="{{ lecture.id }}">
        <div class="input-group col-sm-6 col-md-4 col-lg-3">
            <span class="input-group-addon">Blatt Nr.:</span>
            <input type="number" class="form-control" placeholder="#" maxlength="3"
                   value="{{ lecture.next_sheet_number }}" name="number">
            <span class="input-group-btn">
                <input type="submit" class="btn btn-primary" type="button" value="erstellen">
            </span>
        </div>
    </form>
    {% if sheets %}
        <h2>Neue Aufgabe</h2>
        <form class="form-horizontal" role="form" method="post" action="{% url "create_task" %}">
            {% csrf_token %}
            <input type="hidden" name="sheet_id" value="{{ sheets.last.pk }}">
            <div class="form-group">
                <label for="task_number" class="col-sm-3">Aufgabennummer:</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        {% with lecture.next_task_number as next_task_number %}
                        <input id="task_number" type="number" class="form-control" placeholder="#" maxlength="3"
                               value="{{ next_task_number }}" name="number" data-default="{{ next_task_number }}"
                               data-default="{{ next_task_number }}">
                        {% endwith %}
                        <span class="input-group-addon">
                            <label><input type="checkbox" id="no-number"> keine Nummer</label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="task_label" class="col-sm-3">Label:</label>
                <div class="col-sm-9">
                    <input id="task_label" type="text" class="form-control" placeholder="Label" maxlength="16"
                           value="{{ next_task_number }}" name="label" data-default="{{ next_task_number }}">
                </div>
            </div>
            <div class="form-group">
                <label for="task_number" class="col-sm-3">&nbsp;</label>
                <div class="col-sm-9">
                    <label>
                        <input type="checkbox" name="optional" value="optional"> optional
                    </label>
                    <input type="submit" class="btn btn-primary pull-right" value="erstellen">
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}