{% extends "base.html" %}

{% block title %}{{ lecture.get_short_name }} - Studenten{% endblock %}

{% block content %}
    <h1>{{ lecture.get_short_name }} - Studenten</h1>
    <table class="table table-striped" id="student-table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Vorname</th>
                {% for group in groups %}
                    <th class="text-center">
                        {{ group.desc }}
                        <a href="{% url "admin:webapp_group_change" group.id %}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </th>
                {% endfor %}
                {% for exam in exams %}
                    <th class="text-center">
                        Exam: {{ exam.date }}
                        <a href="{% url "admin:webapp_exam_change" exam.id %}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </th>
                {% endfor %}
                {% if is_admin %}
                    <th class="text-center">Delete?</th>
                {% endif %}
                <th class="text-left">Comment</th>
            </tr>
            <tr>
                <td>
                    <div class="btn-group" role="group">
                        <a href="#" class="mail-group btn btn-primary btn-xs" data-type="all">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </a>
                        <a href="{% url "get_mail_list_lecture" lecture.id %}" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-save-file"></span>
                        </a>
                    </div>
                </td>
                {% if is_exercise %}
                    <td>
                        <a class="btn btn-xs btn-success" id="add_group_btn" href="#">
                            <span class="glyphicon glyphicon-plus"></span>
                            Gruppe
                        </a>
                    </td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                {% if is_exam %}
                    <td>
                        <a class="btn btn-xs btn-success" id="add_exam_btn" href="#">
                            <span class="glyphicon glyphicon-plus"></span>
                            Exam
                        </a>
                    </td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                {% for group in groups %}
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a href="#" class="mail-group btn btn-primary btn-xs"
                               data-type="group" data-group="{{ group.pk }}">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </a>
                            <a href="{% url "get_mail_list_group" group.id%}" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-save-file"></span>
                            </a>
                        </div>
                    </td>
                {% endfor %}
                {% for exam in exams %}
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a href="#" class="mail-group btn btn-primary btn-xs"
                               data-type="exam" data-exam="{{ exam.pk }}">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </a>
                            <a href="{% url "get_mail_list_exam" exam.id%}" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-save-file"></span>
                            </a>
                        </div>
                    </td>
                {% endfor %}
                {% if is_admin %}
                    <td>&nbsp;</td>
                {% endif %}
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody id="student_list"></tbody>
        <tfoot>
            <form class="form">
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2">
                        <label for="add_student_field" class="sr-only">Neuer Student</label>
                        <input type="text" class="form-control" id="add_student_name" placeholder="Neuer Student"
                               data-lecture="{{ lecture.id }}">
                    </td>
                    {% for group in groups %}
                        <td class="text-center">
                            <input type="checkbox" class="group-select"
                                   id="add_student_group_{{ group.id }}" data-group="{{ group.pk }}">
                        </td>
                    {% endfor %}
                    <td>&nbsp;</td>
                    {% if is_admin %}
                        <td>&nbsp;</td>
                    {% endif %}
                    {% for exam in exams %}
                        <td>&nbsp;</td>
                    {% endfor %}
                </tr>
            </form>
        </tfoot>
    </table>

{% endblock %}


{% block javascript %}
<script>
    window.group_list = {{ json_group_list }};
    window.exam_list = {{ json_exam_list }};
    $(function() {
        $.getJSON("{% url "student_list" lecture.id %}", null, update_student_list)
    });
    window.lecture_id = {{ lecture.id }};
    window.lecture_symbol = "{{ lecture.get_short_name }}";
    window.user_mail = "{{ user.first_name }} {{ user.last_name }} <{{ user.email }}>";
    window.is_admin = {% if is_admin %}true{% else %}false{% endif %};
    $("#student-table").tablesorter({sortList: [1,0]})
</script>
{% endblock %}