@page {
    size: 210mm 297mm;
    margin: 15mm;
}

.container-fluid, .row {
    width: 100%;
}

.tick-list {
    width: 100%;
}

.break-after {
    page-break-after: always;
}

.col-print-12 {
    width: 100%;
}